$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";
#logo {
    float:left;
    font-size:1.7em;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:-1px;
    font-weight:bold;
}

#logo:hover{
    color:#fff;
    text-decoration:none;
}

.center{
    text-align:center;
}

.jumbotron{
    background-image:asset-url("blogImage.jpg");
    background-size:cover;
    height:500px;
}

.jumbotron h1{
    color:#fff;
    text-align:center;
    margin-top:-30px;
    margin-bottom:300px;
    letter-spacing:-1px;
    font-weight:bold;
}

.btn-xlarg{
    font-size:1.7em;
    background-color:black;
}

footer{
    margin-top: 0px;    
    paggint-top: 5px;
    border-top:1px solid #eaeaea;
    color:#777;
}

footer small{
    float:left;
}

footer ul {
    float: right;
    list-style:none;
}

.article-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.description{
    margin-top:0;
}

.article{
    font-weight:bold;
    fonte-size:1.5em;
}

.article-body{
    border-top:1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
    
}